
* {
    box-sizing: border-box;
  }
.header {
    grid-area: header;
    justify-items: center;
    position: absolute;
}
.header > #header-img {
    position: relative;
   max-width: 20%;
   height: auto;
  
   
}
.info-box {
    border-style: solid;
    grid-area: info;
    /* justify-items: center;      */
    justify-self: center;
    margin: 8px;
    background-color:  lightgreen;
}
.status-container{
    border-style: solid;
    grid-area: status;
    justify-items: center;
    padding: 5px;
    background-color: lemonchiffon;
}
.right-container {
    border-style: solid;
    border-color: yellow;
    grid-area: right;  
    background-color: lightgreen;  
}
.left-container {
    border-style: solid;
    border-color: yellow;
    grid-area: left;
    /* position: relative; */
    justify-self: center;
    position: relative;
    top: 1cm;
    background-color: lightgreen;  
    
}
body {
    
    border-style: solid;
     display: grid;
    grid-template-columns: 250px auto  250px;
    grid-template-rows:  90px 450px 150px; 
    grid-template-areas: 
    "header header  header"
    "right left  info"
    "right left  status";

    grid-gap: 10px;
    justify-content: space-evenly;
}




.base-bar { 
    text-align: center;   
}
.red-health {
    background-color: red;
}
.green-health {
    background-color: green;
}

.yellow-health {
    background-color: yellow;
}
/* .stat-meters {
   
    border-style: solid;
    border-color: black;
    padding: 10px;
    width: 50%;
    height: 20px;
    background-color: lightgray;
} */
#Lo-Container {
   
}
#lo-img {  
    max-width: 100%;  
    height: auto;
    position: relative;
    top: 2cm;
    
}
#playBtn {
    position: relative;
    bottom: 2px;
}
#timerBtn {
    position: relative;
    bottom: 2px; 
}
#points {
    position: relative;
    bottom: 2px;  
}