* {
    margin: 0;
    box-sizing: border-box;
}
canvas {
    width: 80vmin;
    border: 10px solid #ffa64d;
    
  }

.game-container {
    grid-area: game;   
}
.header {
  grid-area: header;
}
/* .header > #header-img {
  position: relative;
 max-width: 70%;
 height: auto;
 
} */
.user-section {
  grid-area: user;
  
}
.new-user-btn {

}
#login-container {
  /* display: none; */
  background: #cc99ff;
  /* opacity: .5; */
}
#user-login {
  width: 50%;
}
.Lo-container {
  grid-area: Lo;
  
  justify-content: flex-start;
}
#lo-img {  
  margin: 5px;
  max-width: 50%;  
  height: auto;
  position: absolute;
  bottom: 5px;
  
  left: 5px;
  right: 10px;
  
  
  
}
.submit:hover {
  background-color: rgb(227, 235, 154);
  border: #e04b52 solid 1px;
  color: #e04b52;
}
body {
    /* border-style: solid; */
      background-color: #ccffe6;
      display: grid;
      grid-template-columns: auto 310px auto;
      grid-template-rows: auto 350px auto;
      grid-template-areas: ". header ."
                            "user game game "
                            "Lo game game";
                            
      grid-gap: 10px;
      justify-content: space-evenly;
  }
  